.navbar {
    transition: all 0.3s ease-in-out;
  }
  .navbar.scrolled {
    background-color: #f8f8f8;
  }
  .navbar-brand {
    padding: 15px;
  }
  .navbar-brand.visible-xs {
    display: block;
  }
  .navbar-toggle .icon-bar {
    background-color: #333;
  }
  .dropdown-menu {
    background-color: #f8f8f8;
  }
  .page-heading {
    text-align: center;
  }
  .tall-section {
    background-color: #f8f8f8;
    height: 1000px;
  }